.product_header_container{
    .col-xl-3 {
        width: 20%;
    }
}

.count_card_amount {
    color: #1D2433CC;
    font-size: 20px;
}

.dark-only {
    .count_card_amount {
        color: #fff;
    }  
    .dark_mode_svg {
        filter: invert(1);
    }  
}
